@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BasementBlack';
  src: url('/fonts/BasementGrotesque-Black.woff2') format('woff2'),
       url('/fonts/custom-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    background-color: #000;
    color: azure;
    cursor: crosshair !important;
}
.basement {
  font-family: 'BasementBasementBlack';
}

button {
  cursor: pointer !important;
}

::selection {
    color: #000;
    background-color: cyan;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}